body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#navbar {
    background-color: gray;
    opacity: 0.4;
    padding: 5px;
}

#navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 5px;
    margin-left: 10%;
}

#navbar img {
    width: 23px;
    height: 23px;
    margin-left: 18%;
    margin-top: 5px;
}


/* Class only for Javascript sticky menu */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}