body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#navbar {
    overflow: hidden;
    background-color: gray;
    opacity: 0.5;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: sans-serif;
}